<!DOCTYPE html>

<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <p class="title">apple tree</p>

  <%@game.apples.times do%>
    <img id='apple-picture' src='/apple.png'>
  <%end%>

  <p><%=@game.revealed_word%></p>

  <%if @game.game_over?%>

    <p class="instructions">game over!</p>

    <p class="instructions"><%=@game.final_message%></p>

    <p class="instructions"><%=@game.word_definition%></p>

    <form action="/game/new" method="post">
      <input class="appletree-button" type="submit" value="play again"/>
    </form>

  <%else%>

    <p class="instructions">guess a letter:<p>

    <form action="/guess" method="post">
      <input type="text" name="guess"/><br>
      <input class="appletree-button" type="submit" value="guess"/>
    </form>

  <%end%>

</body>

</html>
