<!DOCTYPE html>

<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <p class="title">apple tree</p>

  <%10.times do%>
    <img id='apple-picture' src='/apple.png'>
  <%end%>

  <p class="instructions">try to guess the hidden word.  for every incorrect letter an apple falls.  if all the apples fall, you lose!</p>

  <form action="/game/new" method="post">
    <input class="appletree-button" type="submit" value="play game"/>
  </form>

</body>

</html>
