<!DOCTYPE html>

<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <p>apple tree</p>

  <form action="/game/new" method="post">
    <input class="appletree-button" type="submit" value="play game"/>
  </form>

</body>

</html>
